@import "variables";
body{
  margin-top: 0px !important;
  font-family: $primary-font !important;
}
.form-group{
  margin-bottom: 30px;
}
.section{
  margin: 0px 15px;
}
.form-control{
  background-color: transparent;
  border: 1px solid $black-color;
  border-radius: 0px;
  min-height: 50px;
  padding: 15px 16px;
  &:focus{
    background-color: transparent;
    box-shadow: none;
  }
}
.i-frame{
  width: 100%;
  border: none !important;
  min-height: 100vh;
}
.my-container{
  max-width: 85%;
  width: 85%;
}
.hide-scroll{
  width: 100%;
  z-index: 100000;
  position: fixed;
  top: 0px;
  animation: hideNavbar;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes hideNavbar{
  0%{
    top: 0px;
    opacity: 1;
  }
  100%{
    top: -200px;
    opacity: 0;
  }
}
@keyframes showNavbar{
  0%{
    top: -200px;
    opacity: 0;
  }
  100%{
    top: 0px;
    opacity: 1;
  }
}
.text-grey{
  color: #6e6e6e;
}
.navbar{
  .navbar-brand{
    color: $black-color !important;
    text-decoration: none !important;
  }
  width: 100%;
  z-index: 100000000;
  position: fixed;
  top: 0px;
  background-color: transparent;
  padding-bottom: 20px !important;
  padding-top: 50px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  box-shadow: none !important;
  transition: all 350ms;
  .navbar-nav{
  }
  display: flex;
  flex-wrap: wrap;
  .logo{
    max-width: 40px;
  }
  .nav-item{
    .active{
      span{
        color:  rgba($black-color, 0.7) !important;
      }
    }
    .nav-link{
      text-transform: uppercase;
      font-weight: bold;
      padding: 5px 20px;
      letter-spacing: 1px;
    }
  }
}
$banner-height: 700px;
.scrolled{
  /*  animation: showNavbar;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;*/
  width: 100%;
  padding-top: 20px !important;
  background-color: white !important;
}
.before-header{
  font-weight: 600;
  font-size: 1.5rem;
  padding: 20px 0px 10px 0px;
  text-align: center;
  margin-bottom: 0px !important;
}
.header{
  text-align: center;
  padding: 25px 0px;
  font-weight: 800;
  font-size: 2rem;
}
.give-me-space{
  padding: 80px 0px;
}
.banner-section{
  .absolute-image{
    bottom: 5vh;
    img{
      transform: scale(1.2);
    }
    position: absolute;
    right: 0px;
  }
  .banner-holder{
    overflow: hidden;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .banner-content{
      width: 100%;
      color: $black-color;
      p,a,span,h1,h2,h3{
        color: $black-color;
      }
    }
  }
  padding: 15px !important;
  h1, h2{
    font-weight: 600;
    letter-spacing: 0px;
    font-size: 3.5rem;
  }
  p{
    font-size: 2.5rem !important;
    margin: 20px 0px !important;
  }
  h2{
    font-weight: normal;
    font-size: 1.3rem;
  }
  height: 100vh;
  img{
    max-height: $banner-height;
    max-width: 100%;
    z-index: 100;
  }

  .background-banner{
    left: 0px;
    background-color: #F2F2F2;
    width: 100%;
    height: calc(#{$banner-height} - 200px);
    top: 100px;
    z-index: -10;
    position: absolute;
  }
}
.pagination{
  .page-item{
    border-radius: 0px !important;
    transition: all 350ms;
    a, span{
      text-decoration: none !important;
      border-radius: 0px !important;
      color: $black-color !important;
      padding: 10px 15px !important;
      background-color: transparent !important;
    }
    &:hover{
      a, span{
        border-color: transparent !important;
        background-color: $primary-color !important;
        color: $white-color !important;
      }
    }
    .active{
      a,span{
        border-color: transparent !important;
        background-color: $primary-color !important;
        color: $white-color !important;
      }
    }
  }
}
.banner-page{
  height: 45vh !important;
}
.image-section{
  &:hover{
    img{
      transform: scale(1.07);
    }
  }
  img{
    transition: all 400ms;
    transition-timing-function: ease-out;
  }
  height: 230px;
  overflow: hidden;
  background-color: $primary-color;
}
.banner-section-left {
  img {
    margin-left: auto;
  }
}


.my-select{
  background-color: transparent;
  border: 1px solid $black-color;
  border-radius: 0px !important;
}

.background-primary{
  background-color: $primary-color;
}
.footer{
  padding: 50px 0px;
  .footer-link{
    min-height: 60px;
    font-size: 1.1rem;
  }
  ul{
    padding-left: 0px !important;
    text-decoration: none;
    list-style: none;
    li{
      padding: 5px 8px;
      color: #6e6e6e;
      a{
        text-decoration: none !important;
        transition: all 350ms;
        &:hover{
          text-decoration: none !important;
          opacity: 0.6;
        }
        color: #6e6e6e !important;
      }
    }
  }
}

.primary-color{
  color: $primary-color !important;
}
.black-color{
  color: $black-color !important;
}
.text-justify{
  text-align: justify;
  p, div{
    text-align: justify !important;
  }
}
.dropdown{
    .show{
      -webkit-animation: 'collapse';
      -o-animation: 'collapse';
      animation: 'collapse';
      animation-duration: 300ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }
}
@keyframes collapse {
  0%{
    transform: translateY(-20px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}
.dropdown-menu{
  -webkit-box-shadow: 4px 4px 12px -2px rgba(0,0,0,0.3);
  -moz-box-shadow: 4px 4px 12px -2px rgba(0,0,0,0.3);
  box-shadow: 4px 4px 12px -2px rgba(0,0,0,0.3);
  border: none !important;
  a{
    transition: all 300ms;
    text-decoration: none !important;
    color: $black-color !important;
    &:hover{
      opacity: 0.7 !important;
      background-color: transparent !important;
    }
  }
}

.my-hidden{
  max-height: 1px;
  opacity: 0;
  overflow: hidden;
  transition: all 200ms;
}
.my-hidden-show{
  max-height: 10000px;
  opacity: 1;
}
.banner{
  position: relative;
  .header{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    .content{
      height: 100%;
      max-width: 85%;
      margin: auto;
      display: flex;
      align-items: center;
    }
  }
}
.description-content{
  max-height: 400px;
  overflow: hidden;
  position: relative;
  &:after{
    content: "";
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(#f8fafc,0) 0%, rgba(#f8fafc,0.7189250700280112) 46%, rgba(#f8fafc,1) 89%);
  }
  transition: all 200ms;
}
.description-content-show{
  max-height: 100000px;
  &:after{
    display: none !important;
  }
}
.social-link{
  margin-right: 25px;
  transition: all 300ms;
  cursor: pointer;
  &:hover{
    opacity: 0.5;
  }
  img{
    max-width: 30px !important;
  }
}
.breadcrumb{
  background-color: transparent !important;
  .breadcrumb-item{
    a{
      color: $black-color;
      opacity: 0.7;
      &:hover{
        text-decoration: none;
        color: $black-color;
        opacity: 0.5;
      }
    }
  }
  .active{
    opacity: 1;
    color: $black-color;
  }
}
.gallery{
  column-count: 3;
  column-gap: 5px;
  .content{
    transition: all 350ms;
    background-color: rgba(0,0,0,0.6);
  }
  .item{
    &:hover{
      .content{
        opacity: 1 !important;
      }
    }
  }
}
.switcher{
  transition: all 300ms;
  transform: scale(0.001);
  opacity: 0;
  .element{
    &:hover{
      transform: scale(1.1);
      transition: all 200ms;
    }
  }
  .language{
    position: relative;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
    background-color: white;
    width: 60px;
    padding: 10px;
    border-radius: 100%;
    img{
      width: 60px;
      width: 60px;
    }
    .elements{
      position: absolute;
      top: 120%;
      .element{
        width: 40px;
        padding: 3px;
        -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
        box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
        border-radius: 100%;
        margin-top: 20px;
        img{
          width: 40px;
          width: 40px;
        }
      }
    }
  }
  right: 3vw;
  height: 3vh;
  z-index: 10000;
  position: fixed;
}
.show-switcher{
  transform: scale(1);
  opacity: 1;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.slideTop-enter-active, .slideTop-leave-active {
  transition: all 350ms;
}
.slideTop-enter, .slideTop-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(-50px);
}

.md-stepper-content:not(.md-active) {
  padding: 0px 20px !important;
}
.no-validation{
  margin-bottom: 0px !important;
}
.my-button{
  height: unset !important;
  border: 2px solid $black-color !important;
  background-color: transparent !important;
  text-decoration: none !important;
  border-radius: 4px !important;
  box-shadow: none !important;
  transition: all 200ms !important;
  padding: 10px 30px !important;
  &:hover{
    opacity: 0.8;
  }
}
.background-grey{
  background-color: $grey-color !important;
}
.background-white{
  background-color: transparent;
}
.lighten{
  color: #6e6e6e;
  p,a,span,label{
    color: #6e6e6e;
  }
}
.my-card{
  border-radius: 12px !important;
  -webkit-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.25) !important;
  -moz-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.25) !important;
  box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.25) !important;
}

.messages{
  position: fixed;
  z-index: 1000000;
  bottom: 10vh;
  left: 25%;
  width: 50%;
  .alert-danger{
    background-color: #d63933 !important;
  }
  .alert-success{
    background-color: #2d9f16 !important;
  }
  .alert{
    border: none !important;
    width: 100%;
    padding: 20px 40px;
    font-size: 1.2rem;
    -webkit-box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.35);
    box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.35);
    color: white;
  }
}
.faq{
  cursor: pointer;
  .head{
    font-size: 1.3rem;
  }
  color: #6e6e6e;
  padding: 30px 16px;
  border-top: 1px solid #dadada;
}
